.header{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:16px;
    border-radius: 5px;
    width: 100%;
}

.search-bar {
    height:30px;
    padding: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    width:250px;
}

.search-icon {
    background-color: white;
    fill:black;
    width:30px;
    height:40px;
   
}